<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome/css/regular.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome/css/solid.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome/css/brands.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto px-0">
                <div id="sidebar" class="collapse collapse-horizontal show border-end">
                    <div id="sidebar-nav">
                        <div id="sidebar-head" class="p-4">
                            <img src="assets/image/logo-sidebar.png" alt="SISTEMA" class="d-block mx-auto">
                        </div>
                        <div id="sidebar-menu">
                            list
                            <footer class="text-center text-secondary">
                                <p><i class="fa-solid fa-copyright"></i> 2023 - Desenvolvido com <i
                                        class="fa-solid fa-heart text-danger"></i> <br> por <a href="#"
                                        class="text-decoration-none">Joab
                                        Torres</a></p>
                            </footer>
                        </div>

                    </div>

                </div>
            </div>
            <main class="col ps-md-2 pt-2">
                <div class="row">
                    <div class="col">
                        <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse"
                            class="border rounded-3 p-2 text-decoration-none bg-primary text-white"><i
                                class="fa-solid fa-bars"></i>
                            Menu</a>
                    </div>
                </div>

                <div class="page-header pt-3">
                    <h2>Bootstrap 5 Sidebar Menu - Simple</h2>
                </div>

                <footer class="text-end text-secondary">
                    <i class="fa-solid fa-copyright"></i> 2023 - Desenvolvido com <i
                        class="fa-solid fa-heart text-danger"></i> por <a href="#" class="text-decoration-none">Joab
                        Torres</a>
                </footer>
            </main>
        </div>
    </div>
    <script src="assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>